
body{
    margin:0;
}

.wrapper{
    background-image: url('./assets/home.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: space-between;
    width: 100vw;
}


.ancients-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 40%;
    padding: 20px;
}

.ancient-card{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    cursor: pointer;
    height: 260px;
    width: 200px;
}

.ancient-card:hover{
    box-shadow: 0 1px 4px rgba(192, 49, 173,1),
-23px 0 20px -23px rgba(192, 49, 173, .8),
23px 0 20px -23px rgba(192, 49, 173, .8),
0 0 40px rgba(192, 49, 173, .1) inset;
}

.ancient-card.active{
    border: 1px solid rgba(192, 49, 173,1);
}

.ancient-card:first-child{
    background-image: url('./assets/Ancients/Azathoth.png') ;
}
.ancient-card:nth-child(2){
    background-image: url('./assets/Ancients/Cthulthu.png') ;
}
.ancient-card:nth-child(3){
    background-image: url('./assets/Ancients/IogSothoth.png');
}
.ancient-card:nth-child(4){
    background-image: url('./assets/Ancients/ShubNiggurath.png') ;
}

.difficulty-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
}

.difficulty{
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}


.difficulty.active{
    border: 1px solid rgba(192, 49, 173,1);
}

.deck-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-width: 30%;
}

.deck-container .shuffle-button {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
}

.difficulty:hover, 
.shuffle-button:hover{
    border: 1px solid rgba(192, 49, 173,1);
    box-shadow: 0 1px 4px rgba(192, 49, 173,1),
-23px 0 20px -23px rgba(192, 49, 173, .8),
23px 0 20px -23px rgba(192, 49, 173, .8),
0 0 40px rgba(192, 49, 173, .1) inset;
}

.current-state{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 30%;
}

.deck, .last-card {
    background-size: cover;
    height: 190px;
    width: 130px;
}
.deck{
    background: url('./assets/mythicCardBackground.png');
}


.stage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.stage-text {
    color: rgba(192, 49, 173, 1)
}

.dots-container {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.dot {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.dot.green {
    background-color: green;
}

.dot.brown {
    background-color: brown;
}

.dot.blue {
    background-color: blue;
}